.container {
	width: 100%;
	background-image: url("/Users/student/Downloads/witewall_3/witewall_3.png");
	height: 100%;
	text-align: center;
	box-sizing: border-box;
}

.navbar {
	width: 200px;
	height: 100vw;
	background-image: url("/Users/student/Downloads/witewall_3/witewall_3.png");
	position: fixed;
	border-right: 1px solid #D8D8D8;
}

.logo img {
	width: 160px;
	height: 140px;
	margin: 20px;
}

.links {
	list-style-type: none;
	padding-left: 20px;
}

.links li {
	background-color: ;
	border-bottom: 1px solid #D8D8D8;
	display: block;
	margin-right: 20px;
}

.links li:hover {
	background-color: #E94646;
	color: white;
	border-radius: 0px 2px 2px 0px;
}

.linkText:hover {
	color: white;
}

/*Need to fix the padding to correct clickable area*/
.linkText {
	text-decoration: none;
	color: #FF0000;
	font-family: optima;
	display: inline-block;
	padding: 10px 30px 10px 10px;
}

.header {
	display: inline-block;
	float: left;
	margin-left: 220px;
	font-family: optima;
	color: #FF0000;
	margin-top: 65px;
}

header {
	top: 50px;
}

.quote {
	display: inline-block;
	top: 105px;
	position: absolute;
	left: 240px;
	font-family: optima;
}

.imgContainer {
	margin-left: 200px;
	padding-top: 197px;
}

.rotatingImg {
	display: inline;
	max-width: 76vw;
	min-width: 700px;
	width: 70vw;
}

.bottomBox {
	min-width: 827px;
}

.bottomBox img {
	/*max-width: 345.76px;*/
	width: 21.4vw;
	padding: 1.3vw;
	min-width: 205.938px;
}

footer {
	height: 40px;
	width: 80vw;
	margin-left: 200px;
	border: 1px solid #D8D8D8;
	background-image: url("/Users/student/Downloads/tweed/tweed.png");
	padding-left: 20px;
	margin-top: 150px;
}

footer span {
	display: flex;
	width: 82.8vw;
}

footer a {
	padding-top: 11px;
	color: white;
	font-family: optima;
}

@media screen and (max-width: 995px) {
	.links li {
		display: inline-block;
	}
	.navbar {
		position: static;
		height: 80px;
		width: auto;
		border-bottom: 1px solid #D8D8D8;
		border-right: none;
	}
	.linkText {
		padding: 10px 15px 10px 15px;
	}
	.rotatingImgBox {
		margin-left: 20px;
		margin-right: 20px;
	}
	.bottomBox {
		margin-left: 20px;
	}
	.bottomBox img {
		padding-right: 27px;
		min-width: 212.703px;
	}
	footer {
		margin-left: 0px;
		margin-top: 100px;
		padding-top: 50px;
	}
}

