<!DOCTYPE html>
<html ng-app="myApp" lang ='en'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dogo Argentino</title>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.js"></script>
</head>
<body ng-controller="mainController">
	<div class="container">
		<div class="navbar">
			<div class="logo">
				<img src="photos/img002.jpg">
			</div>
			<ul class="links">
				<li>
					<a href="#" class="linkText">
						Home
					</a>
				</li>
				<li>
					<a href="#" class="linkText">
						About
					</a>
				</li>
				<li>
					<a href="#" class="linkText">
						Info About the Breed
					</a>
				</li>
				<li>
					<a href="#" class="linkText">
						Dogo Supplies
					</a>
				</li>
				<li>
					<a href="#" class="linkText">
						Breeders
					</a>
				</li>
				<li>
					<a href="#" class="linkText">
						Contact
					</a>
				</li>
			</ul>
		</div>
		<header>
			<h2 class="header">
				Home of the Dogo Argentino
			</h2>
			<span class="quote">
				A breed like no other...
			</span>	
		</header>
		<div class="imgContainer">
			<!-- <a class="arrow prev" href="#" ng-click="nextSlide()">==></a>
    		<a class="arrow next" href="#" ng-click="prevSlide()"><==</a> -->
			<img ng-repeat="slide in slides" ng-src="{{slide.image}}" class="rotatingImg" ng-hide="!isCurrentSlideIndex($index)">
			
<!-- Here starts my bottom three text boxes -->
			
			<div class="bottomBox">
				
				<a href="#"><img src="photos/img002.jpg"></a>
				
				
				<a href="#"><img src="photos/img002.jpg"></a>
				
				
				<a href="#"><img src="photos/img002.jpg"></a>
				
			</div>
		</div>
		<footer>
			<span>
				<a href="#">
					DogoLand.com
				</a>
				<a href="#">
					About
				</a>
				<a href="#">
					Contact Us
				</a>
			</span>
		</footer>
	</div>
	<script src="main.js"></script>
</body>







